<div class="chat-top">
  <div class="left-top">
    <div class="top-title">
      title
    </div>
  </div>
  <div class="right-top">
    <div class="top-button">
      <a href="#">チャットを終了する</a>
    </div>
  </div>
</div>
<div class="chat-main">
  <div class="message">
    <div class="upper-message">
      <div class="message-user">
        Tom
      </div>
      <div class="message-date">
        2020/10/18(sun) 10:10:10
      </div>
    </div>
    <div class="lower-message">
      <div class="message-content">
        おはよう
      </div>
    </div>
  </div>

  <div class="message">
    <div class="upper-message">
      <div class="message-user">
        Tom
      </div>
      <div class="message-date">
        2020/10/18(sun) 20:20:20
      </div>
    </div>
    <div class="lower-message">
      <div class="message-content">
        こんばんは
      </div>
    </div>
  </div>
</div>
<div class="chat-under">
  <div class="form-input">
    <input class="form-message" placeholder="type a message">
    <label class="form-image">
      <span class="image-file">画像</span>
      <input type="file" class="hidden">
    </label>
  </div>
  <input class="form-submit" type="submit" value="送信">
</div>